<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]clamavAPI</title>
    <link rel="icon" href="~/images/clamavapi.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/clamavAPI.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Permanent+Marker&display=swap"
        rel="stylesheet">
</head>

<body>
    <div>
        <div class="header">
            <div class="logo">
                <a asp-page="/"><img height="110px" src="~/images/clamavapi.ico"><label class="title">clamav</label><label
                        class="API">API</label></a>
            </div>
            <div class="objective">
                <label class="textObjective">Virus detection and file content checking.</label>
            </div>
            <main role="main" style="width: 100%;">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>