[Unit]
Description=Running docker clamav

[Service]
WorkingDirectory=/usr/local/bin/
ExecStart=/bin/bash ./clamav-Docker.sh

[Install]
WantedBy=multi-user.target
